<div class="header">
    <div class="container">
        <nav>
            <a class="navbar-brand" href="index.html">
                <img src="http://lorempixel.com/300/94/" alt="" />
                <span class="toggleMenuIcon"></span>
            </a>
            <div id="menu">
                <div class="menu-menu-principal-container">
                    <ul id="menu-menu-principal">
                        <li><a href="#section-1" du-smooth-scroll du-scrollspy>Nosotros</a></li>
                        <li><a href="#section-2" du-smooth-scroll du-scrollspy>Para Quien</a></li>
                        <li><a href="#section-3" du-smooth-scroll du-scrollspy>Para Que</a></li>
                        <li><a href="#section-4" du-smooth-scroll du-scrollspy>Solicitar</a></li>
                        <li><a href="#section-5" du-smooth-scroll du-scrollspy>Contáctenos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>