// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;


// Colors
$bluebrand:             #003d73;
$white:                 #fff;
$teal:                  #1ba886;
$green:                 #c0d52e;
$sky:                   #09d2e6;
$slate:                 #3954a5;
$darkblue:              #022a53;
$lightgrey:             #d9d9d9;
$darkgrey:              #B0ACB1;
$bluetrans: rgba(0, 61, 115, 0.5);
$darkergrey:            #656565;