//nosotros home
section#nosotros {
  position: relative;
  overflow: hidden;
  background: white url(../images/nosotros-bg.png) no-repeat 50%/cover;
  height: 100vh;
  .icon#bcg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    height: 30vh;
    .img {
      background: transparent url(../images/Nosotros_Icono.svg) no-repeat 50%/200px;
      width: 200px;
      height: 200px;
    }
  }
  #cont-nos {
    position: absolute;
    z-index: 1;
  }
  .cont {
    top:30vh;;
    width: 100%;
    height: 100%;
    height: 100vh;

    #info-nos {
      background-color: rgba(1, 28, 51, 0.7);
      padding: 4rem 0;
      height: 30vh;
      z-index: 2;
      &:before {
        content: '';
        position: absolute;
        display: block;
        margin-left: 31%;
        transform: translateX(50%);
        top: 30vh;
        width: 90px;
        height: 140px;
        border-width: 0 90px 140px 0;
        border-style: solid;
        border-color: transparent rgba(1, 28, 51, 0.7) transparent transparent;
        z-index: 2;
      }
      .title {
        color: #fff;
        font-size: 5rem;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        &:before, &:after {
          content: '';
          position: absolute;
          display: block;
        }
        &:before {
          width: 5px;
          height: 200%;
          background-color: #fff;
          bottom: 1.25rem;
          left: -1.5rem;
        }
        &:after {
          background: transparent url(../images/Separador_2.svg) no-repeat 50%/100%;
          width: 120px;
          height: 40px;
          bottom: -2rem;
          right: 0;
        }
      }
      .description-nos {
        color: #fff;
      }
      @media (max-width: 1400px) {
        .title {
          font-size: 4.5rem;
        }
        .description-nos {
          font-size: 16px;
        }
      }
    }

    #nosotros-tex {
      opacity: 0;
      transform: translateY(30px);
      transition: all 1s ease-in;
    }
    #nosotros-tex.fade-in {
      opacity: 1;
      transform: translateY(0);

    }
    .button {
      border: 1px $bluebrand solid;
      background: rgba(#fff, .6);
      color: $bluebrand;
      line-height: 1;
      padding: 1.125rem 2rem 1rem;
      width: 400%;
      margin: 0 0 15rem 0;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: .5rem;
      position: relative;

      .arrow {
        width: 12px;
        height: 20px;
        display: inline-block;
        border-color: transparent transparent transparent #003d73;
        border-width: 10px 0 10px 12px;
        border-style: solid;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 1rem;
      }
    }
    @media (max-width: 991px) {
      & .info-button {
        position: relative;
        min-height: 15rem;
        .button {
          position: absolute;
          font-size: 14px;
          letter-spacing: .2rem;
          font-weight: 700;
          left: 0;
          top: 50%;
          margin: 0;
          width: 100%;
          background: #003d73;
          color: #fff;
          padding: .75rem 0 .5rem;
          text-align: center;
          &:before {
            display: none;
          }
          .arrow {
            display: none;
          }
        }
      }

    }
  }

  @media (max-width: 991px) {
    .cont {
      height: auto;
      position: static !important;
    }
  }
}

//nosotros movil
@media (max-width: 991px) {
  section#nosotros {
    min-height: 100vh;
    height: initial;
  }
}

//nosotros interna
#nosotros-interna {
  section {
    padding: 3rem .5rem;
    .title {
      text-transform: uppercase;
    }
    p {
      font-weight: 700;
      font-size: 15px;
      color: #ababab;
    }
    .col-12 {
      margin-bottom: 2rem;
    }
    .video {
      position: relative;
      margin-bottom: 4rem;
      &:after {
        content: '';
        display: block;
        width: 100%;
        padding: 30% 0
      }
      iframe {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
    @media(min-width: 768px) {
      .col-12:nth-child(1) {
        border-right: 2px solid #bbbbbb;
        padding-right: 2rem;

      }
      .col-12:nth-child(2) {
        padding-left: 3rem;

      }
    }
  }
}
div.solucion {
    background-color: #fff;
    .container {
      border-top: 2px solid #cfcfcf;
      position: relative;
      padding-top: 3rem;
      &:before {
          content: '';
          background: #fff url('../images/Separador_g.svg') no-repeat center/450%;
          width: 40px;
          height: 40px;
          display: block;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
      }
      .title {
        font-size: 1.5rem;
        letter-spacing: .1rem;
      }
    }
    form {
      ::placeholder {
        color: $bluebrand;
        text-transform: uppercase;
      }
      fieldset {
          margin-top: 3rem;
      }
      input,
      textarea,
      select {
          color: $bluebrand;
          width: 100%;
          margin-bottom: 1.5rem;
          border: 0;
          border-bottom: 2px solid $bluebrand;
          background: none;
          font-size: 14px;
          vertical-align: bottom;
          font-family: 'Montserrat';
          border-radius: 0;
      }
      textarea {
          width: 100%;
          max-width: 100%;
          max-height: 120px;
          color: $bluebrand;
      }
      select {
          text-transform: uppercase;
          border: 2px solid;
          border-radius: 2px;
          height: 2rem;
      }
      .button-submit {
          text-align: right;
          margin-bottom: 1rem;
      }
      button[type="submit"] {
          border: 0;
          text-transform: uppercase;
          color: #fff;
          font-size: 14px;
          padding: .5rem 1rem;
          background-color: $bluebrand;
          transition: all linear 120ms;
          &:hover {
              background-color: darken($bluebrand, 5);
          }
      }

      #upload-cv {
        opacity: 0;
        width: 1px;
        height: 1px;
      }
      #label-upload-cv {
        width: 100%;
        font-size: 14px;
        text-transform: uppercase;
        color: $bluebrand;
        border: 2px solid $bluebrand;
        padding: 4px 6px 0;
        text-align: center;
      }
    }
}
