<div class="wrap">

	<header class="menu" ng-include="'views/web/header.html'"></header>

	<div ng-include="'views/web/slider.html'"></div>

	<section ng-if="flag" class="sectionscroll" id="section-1" ng-include="'views/web/nosotros.html'"></section>

	<section class="sectionscroll" id="section-2">
		<h2>¿Para quien?</h2>
		<p>Buscamos apoyar el crecimiento y transformación digital de la
			pequeña y mediana empresa
			con microcréditos con excelentes tasas de interés y
			SIN GARANTÍAS INMOBILIARIAS
		</p>

		<img src="http://lorempixel.com/1000/500/business" alt="" />
	</section>

	<section class="sectionscroll" id="section-3" ng-include="'views/web/paraque.html'">
		<!--<h2>Section 3</h2>
        <p>Shank fatback pastrami short loin, turkey jowl kielbasa ribeye chicken jerky drumstick flank ham. Swine shankle pork belly kielbasa shoulder flank jowl, sirloin doner. Kevin tri-tip bresaola leberkas. Swine ball tip cow strip steak. Ham filet mignon pork chop, pork fatback andouille pork loin shoulder jowl swine strip steak turducken prosciutto rump.</p>

        <img src="http://lorempixel.com/1000/400/" alt="" />

        <p>Tongue tri-tip pastrami, shoulder rump pork belly ground round. Ham hock chuck leberkas doner, strip steak corned beef tri-tip capicola. Rump turkey ham sausage shankle. Flank shankle pork chop ham hock. Shankle venison kielbasa, pancetta swine beef ball tip t-bone bacon hamburger ground round ribeye flank. Turducken bacon bresaola, chicken kevin boudin ball tip strip steak filet mignon pork turkey shank ground round. Kielbasa fatback prosciutto pork chop, jerky ground round leberkas boudin ball tip beef shankle shoulder swine brisket.</p>-->
	</section>

	<section class="sectionscroll" id="section-4">
		<img src="../../images/solicitar.png" alt="" />
	</section>
	<!--<footer>
		<button ng-click="toTheTop()">Take me back!</button> or <button ng-click="toSection3()">To section 3</button>
	</footer>-->
</div>